* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

/* ******************************** */

body {
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    background: #f2f4f7;
    padding-bottom: 112px;
    padding-top: 72px;
}

.fbContainer {
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}